* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Lato', sans-serif;
}

button {
	background-color: #ffffff;
	border: none;
	outline: none;
}

.btn-modal {
	width: 250px;
	height: 50px;
	background-color: #484d6d;

	border-radius: 5PX;

	color: #fffcf9;
	font-size: 15px;

	cursor: pointer;
}

.modal {
	position: fixed;
	visibility: hidden;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	/*background-color: #000000;*/

	opacity: 0;

	z-index: 999999;

	transition: all 0.5s;	
}

.modal.active {
	visibility: visible;
	opacity: 1;
}

.modal .modal-layer {
	position: absolute;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.modal .modal-wrap {
	position: absolute;

	width: 500px;
	background-color: #fffcf9;

	border-radius: 5px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal .modal-wrap .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 25px 40px 0;
}

.modal .modal-wrap .modal-header h2 {
	font-size: 25px;
	font-weight: bold;
}

.modal .modal-wrap .modal-header .btn-close {
	padding: 3px 4px;

	border-radius: 3px;

	cursor: pointer;
	font-size: 13px;
	background-color: #484d6d;
	color: #fffcf9;
}

.modal .modal-wrap .modal-body {
	font-size: 16px;

	padding: 20px 40px 25px;
}

.modal .modal-wrap .modal-body .modal-body-wrap {
	padding-top: 20px;
	margin: 0 auto;
	border-top: solid 2px #484d6d;
}





