* {
	margin: 0;
	padding: 0;
}

.page-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.page-back {
	position: absolute;
	height: 120%;
	width: 120%;  /* 자식의 크기가 부모보다 더 크게 만들어줌 */

	left: -10%;
	top: -10%;
	background-size: cover;
	background-position: center;
	background-image: url(bg.jpg);
}